---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

// Get the 4 most recent blog posts
const posts = (await getCollection('articles'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 4);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link href="https://fonts.googleapis.com/css2?family=Caudex:wght@400;700&family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
	<style>
	.journal-cover {
		background-image: url('public/claire-satera-gd21U8VUsLc-unsplash.jpg'); 
		background-size: cover; 
		background-position: center; 
		background-repeat: no-repeat; 
		}
	.journal-cover::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
		}

	.journal-title {
		position: relative; 
		z-index: 1; 
		}
	</style>
	</head>
	
	<body>
		<div class="journal-cover"  >
			<div class="journal-title">
				<h1 class="title-text">{SITE_TITLE}</h1>
				<p class="journal-description">{SITE_DESCRIPTION}</p>
			</div>
		</div>

		<Header />
		
		<main id="content" class="content-container">
			<section class="blog-section">
				<h2>Latest Articles</h2>
				<div class="post-grid">
					{posts.map((post) => (
						<article class="post-card">
							<div class="post-content">
								<h3 class="post-title"><a href={`/articles/${post.slug}/`}>{post.data.title}</a></h3>
								<p class="post-date">{post.data.pubDate.toLocaleDateString('en-us', {
									year: 'numeric',
									month: 'short',
									day: 'numeric',
								})}</p>
								<p class="post-excerpt">{post.data.description}</p>
								<a href={`/articles/${post.slug}/`} class="read-more">Read more</a>
							</div>
						</article>
					))}
				</div>
				<div class="view-all">
					<a href="/articles">View All Articles</a>
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>